### Question 1A:Takes two strings from the user: first_name, last_name. Pass these variables to fullname function that return fullname

In [36]:
def fullname(first_name, last_name):
    return first_name + " " + last_name

In [37]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

Enter your first name: Harsha
Enter your last name: Vardhan

In [38]:
full_name = fullname(first_name, last_name)
print("Your full name is:", full_name)

Your full name is: Harsha Vardhan

### Question1B Printing the Alternative characters in a word

In [30]:
def string_alternative(full_name):
    return full_name[::2]

full_name = "Good Evening"
result = string_alternative(full_name)

print("Input string:", full_name)
print("Output string:", result)

Input string: Good Evening
Output string: Go vnn

### Question 2: Python program to find the wordcount in a file (input.txt) for each line and then print the output in Output.txt file

In [15]:
number_of_words = 0
with open('input.txt', 'r') as file:
    content = file.read()
    print(content)

Neural Networks
Deep
learning

In [31]:
number_of_words = 0
word_count = {}

with open('input.txt', 'r') as file:
    content = file.read()
    words = content.split()

    for word in words:
        word = word.strip().lower()
        word_count[word] = word_count.get(word, 0) + 1
        number_of_words += 1

print(f"Total Number of Words: {number_of_words}")

for word, count in word_count.items():
    print(f'{word}: {count}')

Total Number of Words: 4
neural: 1
networks: 1
deep: 1
learning: 1

In [22]:
with open('output.txt', 'w') as output_file:
    print(f"Total Number of Words: {number_of_words}", file=output_file)

    for word, count in word_count.items():
        print(f'{word}: {count}', file=output_file)

### Question 3: Which reads heights (inches.) of customers into a list and convert these heights to centimeters in a separate list using:1) Nested Interactive loop. 2) List comprehensions

In [32]:
def convert_to_cm_nested(heights_inches):
    heights_cm = []
    for height in heights_inches:
        height_cm = height * 2.54
        heights_cm.append(round(height_cm, 2))
    return heights_cm

# 1) Using List Comprehensions
def convert_to_cm_list_comprehension(heights_inches):
    return [round(height * 2.54, 2) for height in heights_inches]
# 2) Using Nested Loop
def main():
    heights_inches = []

    input_str = input("Enter heights in inches separated by commas: ")

    try:
        heights_inches = [float(height) for height in input_str.split(',')]
    except ValueError:
        print("Invalid input. Please enter valid numbers separated by commas.")
        return


    heights_cm_nested = convert_to_cm_nested(heights_inches)


    heights_cm_list_comp = convert_to_cm_list_comprehension(heights_inches)

    print("\nHeights in Inches:", heights_inches)
    print("Heights in Centimeters (Using Nested Loop):", heights_cm_nested)
    print("Heights in Centimeters (Using List Comprehension):", heights_cm_list_comp)

if __name__ == "__main__":
    main()

Enter heights in inches separated by commas: 143,123

Heights in Inches: [143.0, 123.0]
Heights in Centimeters (Using Nested Loop): [363.22, 312.42]
Heights in Centimeters (Using List Comprehension): [363.22, 312.42]